body {
  background-image: url('bg1.jpg');
}


.background {
  height: 100vh;
    
  } 

  .title {
    margin: 0;
    text-align: center;
    padding-top: 180px;
    font-size: 35px;
    font-family: "Monaco", monospace;
  }

  .content {
    height: 20vh;
    padding-top: 20vh;
  }

  .content2 {
    height: 20vh;
    padding-top: 20vh;
  }

  